server_tokens off;

server {
    listen 80;
    server_name {{ domain_name }};

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://{{ domain_name }}$request_uri? permanent;
    }
}

server {
    listen 80;
    server_name gitlab.w00ps.ru;

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://gitlab.w00ps.ru$request_uri? permanent;
    }
}
server {
    listen 80;
    server_name grafana.w00ps.ru;

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://grafana.w00ps.ru$request_uri? permanent;
    }
}
server {
    listen 80;
    server_name prometheus.w00ps.ru;

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://prometheus.w00ps.ru$request_uri? permanent;
    }
}
server {
    listen 80;
    server_name alertmanager.w00ps.ru;

    location /.well-known/acme-challenge {
        root /var/www/letsencrypt;
        try_files $uri $uri/ =404;
    }

    location / {
        rewrite ^ https://alertmanager.w00ps.ru$request_uri? permanent;
    }
}
